In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
#from catboost import CatBoostRegressor
#from xgboost import XGBRegressor

In [70]:
import sys
print(sys.executable)

c:\Users\maina\AppData\Local\anaconda3\envs\mlproject\python.exe

In [71]:
from catboost import CatBoostRegressor

In [72]:
from xgboost import XGBRegressor

In [73]:
#import our dataset
df = pd.read_csv("C:\\projects\\mlproject\\notebook\\data\\StudentsPerformance.csv")

In [74]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [75]:
#prepare the X and Y variables
df = pd.DataFrame(df)

In [76]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [77]:
x = df.drop(columns=["math score"],axis=1)
y = df["math score"]

In [78]:
x.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [79]:
#create column transformtion with three types of transformers
num_features = x.select_dtypes(exclude="object").columns
cat_features = x.select_dtypes(include= "object").columns

In [80]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer 

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
        [
            ("OneHotEncoder",oh_transformer,cat_features),
            ("StndardScaler",numeric_transformer,num_features)



        ]



)

In [81]:
X = preprocessor.fit_transform(x)

In [82]:
x.shape

(1000, 7)

In [83]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split (X,y,test_size = 0.2,random_state = 42)
X_train.shape,X_test.shape

((800, 19), (200, 19))

In [84]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_score

In [85]:
models = {

"Linear Regression": LinearRegression(),
"Lasso" : Lasso(),
"Ridge": Ridge(),
"K-Neighbors Regressor" : KNeighborsRegressor(),
"Decision Tree Regressor" : DecisionTreeRegressor(),
"Random Forest Regressor" : RandomForestRegressor(),
"XGB Regressor" : XGBRegressor(),
"CatBoost Regressor" : CatBoostRegressor(),
"AdaBoost Regressor" : AdaBoostRegressor()

}

In [86]:
model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)


    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae,model_train_rmse,model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print("Model Performance for Training set")
    print(f"-Root Mean Squares Error :{model_train_rmse:.4f}")
    print(f"-Mean Absolute Error : {model_train_mae:.4f}")
    print(f"-R2 Score : {model_train_r2:.4f}")

    print('-------------------------------------------')

    print("Model performance for Test set ")

    print("-Root Mean Squares Error : {:4f}".format(model_test_rmse))
    print("-Mean Absolute Error : {:4f}".format(model_test_mae))
    print("-R2 Score : {:4f}".format(model_test_r2))

    print('=' * 35)
    print('\n')

Linear Regression
Model Performance for Training set
-Root Mean Squares Error :5.3231
-Mean Absolute Error : 4.2667

TypeError: unsupported format string passed to function.__format__

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Define evaluation function first
def evaluate_model(y_true, y_pred):
    """
    Returns MAE, RMSE, and R2 score
    """
    mae = mean_absolute_error(y_true, y_pred)
    rmse = np.sqrt(mean_squared_error(y_true, y_pred))
    r2 = r2_score(y_true, y_pred)
    return mae, rmse, r2

# Initialize storage
model_list = []
train_metrics = []
test_metrics = []

for name, model in models.items():  # More Pythonic way to iterate
    # Train model
    model.fit(X_train, y_train)
    
    # Predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate
    train_mae, train_rmse, train_r2 = evaluate_model(y_train, y_train_pred)
    test_mae, test_rmse, test_r2 = evaluate_model(y_test, y_test_pred)
    
    # Store results
    model_list.append(name)
    train_metrics.append((train_mae, train_rmse, train_r2))
    test_metrics.append((test_mae, test_rmse, test_r2))
    
    # Print results
    print(f"\n{name}")
    print("Model Performance for Training set")
    print(f"- Root Mean Squared Error: {train_rmse:.4f}")
    print(f"- Mean Absolute Error: {train_mae:.4f}")
    print(f"- R2 Score: {train_r2:.4f}")
    
    print('\n-------------------------------------------')
    
    print("Model Performance for Test set")
    print(f"- Root Mean Squared Error: {test_rmse:.4f}")
    print(f"- Mean Absolute Error: {test_mae:.4f}")
    print(f"- R2 Score: {test_r2:.4f}")

# Convert to DataFrame for better analysis (optional)
import pandas as pd
results_df = pd.DataFrame({
    'Model': model_list,
    'Train_MAE': [m[0] for m in train_metrics],
    'Train_RMSE': [m[1] for m in train_metrics],
    'Train_R2': [m[2] for m in train_metrics],
    'Test_MAE': [m[0] for m in test_metrics],
    'Test_RMSE': [m[1] for m in test_metrics],
    'Test_R2': [m[2] for m in test_metrics]

Empty DataFrame
Columns: [Model.Name, R2_score]
Index: []